.debug {
    border: 0.1rem solid red;
}

.featureButton {
    color: rgb(var(--text-on-primary));
    border: 1px solid transparent;
}


.buttonSpacingHorizontal > .featureButton {
    @apply ml-5;
}

.featureButton {
    transition: all 0.2s ease-in-out; 
}

.featureButton:hover {
    border: 1px solid white;
    color: rgb(var(--foreground-color));
    background-color: rgba(var(--background-color));
}

.closeTask {
    transition: all 0.2s ease-in-out;
    @apply text-red-600;
}

.closeTask:hover {
    @apply scale-[1.2] rotate-90;
}

.editTask {
    transition: all 0.2s ease-in-out;
    @apply text-sky-600;
}

.editTask:hover {
    @apply scale-[1.2];
}

.deleteTask {
    transition: all 0.2s ease-in-out;
    @apply text-red-500;
}

.deleteTask:hover {
    @apply scale-[1.2];
}

.topQuadrants,
.bottomQuadrants {
    @apply w-screen flex flex-row;
    @apply h-[50%];
}

.quadrant {
    @apply w-[50%];
    border: 1px solid black;
    word-wrap: break-word;
}

#quadrant1,
#quadrant2 {
    border-top: none;
}

#quadrant1 {
    border-left: none;
}

#quadrant2 {
    border-right: none;
}

#quadrant3,
#quadrant4 {
    border-bottom: none;
}

#quadrant3 {
    border-left: none;
}

#quadrant4 {
    border-right: none;
}

.quadrant .chip {
    @apply m-1;
}
