@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
  --foreground-color: 0, 0, 0;
  --primary-color: 0, 0, 0;
  --text-on-primary: 255, 255, 255;
  --secondary-color: 255, 255, 255;
  --text-on-secondary: 0, 0, 0;
  --error-color: 239, 35, 60;
  --success-surface-color: 59, 130, 246;
  --text-on-success-surface: 255, 255, 255;
  --input-text-color: 0, 0, 0
}

.inputTextColor {
  color: rgba(var(--input-text-color), 0.7)
}

.modalBg {
  background-color: rgba(var(--foreground-color), 0.5);
}


.modal {
  @apply w-[500px];
  @apply rounded-lg;
  @apply text-lg;
  color: rgba(var(--text-on-secondary));
  background-color: rgba(var(--secondary-color));
  box-shadow: 0px 0px 2rem rgba(var(--foreground-color), 0.5);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: 0, 0, 0;
    --foreground-color: 255, 255, 255;
  }
} */

.primarySurfaceColor {
  background-color: rgb(var(--primary-color));
}

.header {
  @apply primarySurfaceColor
}

.inputField,
textArea {
    font-size: 12px;
    @apply inputTextColor;
    border: 0.1px solid black;
}

button {
  @apply px-2 py-1;
}

.success {
  @apply rounded-sm;
  font-size: 15px;
  background-color: rgb(var(--success-surface-color), 0.8);
  color: rgb(var(--text-on-success-surface));
  transition: all 0.2s ease-in-out;
}

.success:hover {
  background-color: rgb(var(--success-surface-color));
}

.chip {
  box-shadow: 0px 0px 0.1rem rgba(var(--foreground-color), 0.5);
  transition: all 0.5s ease;
}

.chip:hover {
  @apply cursor-pointer;
  box-shadow: 0px 0px 0.5rem rgba(var(--foreground-color), 0.5);
  transition: all 0.5s ease;
}

.error {
  @apply mt-2 text-xs text-white p-[1%] rounded-sm;
  background-color: rgba(var(--error-color), 0.9);
}


.radioGroup label {
  @apply inputTextColor;
}
