@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
  --foreground-color: 0, 0, 0;
  --primary-color: 145, 221, 207;
  --text-on-primary: 0, 0, 0;
  --secondary-color: 255, 127, 62;
  --text-on-secondary: 0, 0, 0;
  --error-color:  255, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: 0, 0, 0;
    --foreground-color: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

.primarySurfaceColor {
  background-color: rgb(var(--primary-color));
}

.header {
  @apply primarySurfaceColor
}
